.counter-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.count-display {
  font-size: 10em;
  margin: top 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  border: none;
  background-color: rgb(60, 127, 149);
}

.counter-button:hover {
  background-color: rgb(84, 161, 8);
}